!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %META{:CONTENT => "NO-CACHE", "HTTP-EQUIV" => "CACHE-CONTROL"}
    %title Contest VOTE API
    / CSS
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet"}
      / JavaScript
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    :css
      .contestant {
          text-align: center;
      }
      h2 {
         position: absolute;
         top: 200px;
         left: 0;
         width: 100%;
         text-align: left;
      }
      h2 span {
         color: white;
         font: bold 24px/45px Helvetica, Sans-Serif;
         letter-spacing: -1px;
         background: rgb(0, 0, 0); /* fallback color */
         background: rgba(0, 0, 0, 0.7);
         padding: 10px;
         text-align: left;
      }
      .image {
         position: relative;
         text-align: left;
         width: 100%; /* for IE 6 */
      }
    %body
      %table{:style => "width: 900px; text-align:center;"}
        %tbody
          %tr
            %td.contestant{:align => "center"}
              Joe Smith (
              %a{:href => "#"}> See his story
              )
              %br
                .image
                  %img{:alt => "1", :height => "282", :src => "contestant1.jpg", :width => "300"}
                    %h2
                      %span#votes1
              #submit1
                %input#contestant1.btn{:type => "submit", :value => "Vote for Joe!"}/
                #confirm1
                  %span#question1
                  %input#math1.medium{:maxlength => "2", :name => "math1", :size => "2", :style => "width: 50px;", :type => "text"}
                    %input#submitMath1.btn{:type => "submit", :value => "Submit your vote!"}/
                #message1
            %td.contestant{:align => "center"}
              Rhi Mogan (
              %a{:href => "#"}> See her story
              )
              %br
                .image
                  %img{:alt => "2", :height => "282", :src => "contestant2.jpg", :width => "300"}
                    %h2
                      %span#votes2
              #submit2
                %input#contestant2.btn{:type => "submit", :value => "Vote for Rhi!"}/
                #confirm2
                  %span#question2
                  %input#math2.medium{:maxlength => "2", :name => "math2", :size => "2", :style => "width: 50px;", :type => "text"}
                    %input#submitMath2.btn{:type => "submit", :value => "Submit your vote!"}/
                #message2
            %td.contestant{:align => "center"}
              Christina Flowers (
              %a{:href => "#"}> See her story
              )
              %br
                .image
                  %img{:alt => "3", :height => "282", :src => "contestant3.jpg", :width => "300"}
                    %h2
                      %span#votes3
              #submit3
                %input#contestant3.btn{:type => "submit", :value => "Vote for Christina!"}/
                #confirm3
                  %span#question3
                  %input#math3.medium{:maxlength => "2", :name => "math3", :size => "2", :style => "width: 50px;", :type => "text"}
                    %input#submitMath3.btn{:type => "submit", :value => "Submit your vote!"}/
                #message3